@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-geist-sans: var(--font-geist-sans);
    --font-geist-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

button,
a {
    @apply cursor-pointer;
}

:root {
    --radius: 0.625rem;
    --background: #f7f7f9;
    --foreground: rgba(76, 78, 100, 0.87);
    --card: #fff;
    --card-foreground: rgba(76, 78, 100, 0.87);
    --popover: #fff;
    --popover-foreground: rgba(76, 78, 100, 0.87);
    --primary: #050c43;
    --primary-foreground: #fff;
    --secondary: #6d788d;
    --secondary-foreground: #fff;
    --muted: #f5f5f7;
    --muted-foreground: rgba(76, 78, 100, 0.6);
    --accent: #f1f1f3;
    --accent-foreground: rgba(76, 78, 100, 0.6);
    --destructive: #ff4d49;
    --border: rgba(76, 78, 100, 0.12);
    --input: rgba(76, 78, 100, 0.12);
    --ring: rgba(76, 78, 100, 0.12);
    --chart-1: #333f75;
    --chart-2: #40cdfa;
    --chart-3: #83e542;
    --chart-4: #fdbe42;
    --chart-5: #ff625f;
    --sidebar: #fff;
    --sidebar-foreground: rgba(76, 78, 100, 0.87);
    --sidebar-primary: #050c43;
    --sidebar-primary-foreground: #fff;
    --sidebar-accent: #f1f1f3;
    --sidebar-accent-foreground: rgba(76, 78, 100, 0.6);
    --sidebar-border: rgba(76, 78, 100, 0.12);
    --sidebar-ring: rgba(76, 78, 100, 0.12);
}

.dark {
    --background: #282a42;
    --foreground: rgba(234, 234, 255, 0.87);
    --card: #30334e;
    --card-foreground: rgba(234, 234, 255, 0.87);
    --popover: #30334e;
    --popover-foreground: rgba(234, 234, 255, 0.87);
    --primary: #03082d;
    --primary-foreground: #fff;
    --secondary: #606a7c;
    --secondary-foreground: #fff;
    --muted: #3a3e5b;
    --muted-foreground: rgba(234, 234, 255, 0.6);
    --accent: #3f425c;
    --accent-foreground: rgba(234, 234, 255, 0.6);
    --destructive: #e04440;
    --border: rgba(234, 234, 255, 0.12);
    --input: rgba(234, 234, 255, 0.12);
    --ring: rgba(234, 234, 255, 0.12);
    --chart-1: #333f75;
    --chart-2: #40cdfa;
    --chart-3: #83e542;
    --chart-4: #fdbe42;
    --chart-5: #ff625f;
    --sidebar: #30334e;
    --sidebar-foreground: rgba(234, 234, 255, 0.87);
    --sidebar-primary: #03082d;
    --sidebar-primary-foreground: #fff;
    --sidebar-accent: #3f425c;
    --sidebar-accent-foreground: rgba(234, 234, 255, 0.6);
    --sidebar-border: rgba(234, 234, 255, 0.12);
    --sidebar-ring: rgba(234, 234, 255, 0.12);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
